.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  direction: rtl;

}

.employeeList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.employeeItem {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

.addButton {
  margin-left: 10px;
  cursor: pointer;
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.teamMembers {
  margin-top: 20px;
}

.teamMemberItem {
  display: inline-block;
  background-color: #5bc0de;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.formContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.submitButton {
  cursor: pointer;
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
}
